body {
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-image: url("sand-pic.jpg");
}

button {
    margin-top: 125px;
    font-size: 20px;
    padding: 10px;
}

#big-container {
    margin-top: 50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 0px;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

.box {
    border:1px solid rgba(128, 128, 128, 0.1);
}

/*.colored {
    background-color:#80808066;
}*/

button {
    margin-right: 15px;
}